form{
    background: transparent;
}
input{ 
    margin-left: 2%;
    color: white;

    border-radius: 20%;
    
}
.card{
    background: rgb(69, 49, 78);
}
select,label{
    padding: 1%;
    background: transparent;
    color: white;
}
