{% include 'common/seller_header.html' %}
{% load crispy_forms_tags %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand" href="#">DinoBiz</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <div class="dropdown">
          <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
        </div>
      </li>
      
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'seller' %}">Dashboard</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'allorders' %}">All Orders</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'viewProducts' %}">Products</a>
      </li>
    </ul>
  </div>
  
</nav>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Dashboard</title>
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1 class="display-4">Hello, {{seller.fname}} {{seller.lname}}!</h1>
      <hr class="my-4">
      <h3>You have {{pending_orders_count}} orders pending.</h3>
    </div>

    <div class="container">
      <div class="row">
        {% for order in orders %}
        {% if order.status == 'Pending' %}
        <div class="col-sm-4">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{order.customer}}</h5>
              <p class="card-text">Order Number : {{ order.id }}</p>
              <a href="{% url 'orderdetails' order.id %}"><button type="button" class="btn btn-dark">View Details</button></a>
          
            </div>
          </div>
        </div>
        
        <div class="modal" id="{{ order.customer }}">
          <span onclick="document.getElementById('{{order.customer}}').style.display='none'"
            data-dismiss="modal">&times;</span>
          <div class="container">
            <div class="modal-content animate">
              <div class="modal-body my-5">
                <h2 class="modal-title">{{ order.customer }}</h1>
                  <table class="table table-borderless">
                    <tr>
                      <th>Item</th>
                      <th>Quantity</th>
                    </tr>
                    <tr>
                      <td>{{ order.product }}</td>
                      <td></td>
                    </tr>
                  </table>
                  <div class="row">
                    <div class="col-sm-6">
                      <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ status|crispy }}
                      </form>
                      <button type="submit" class="btn btn-dark">Update</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        {% endif %}
        {% endfor %}
      </div>

      <script>
        var quick_modal = document.getElementById('{{order.customer}}');

        window.onclick = function(event)
        {
          if (event.target == modal)
          {
            quick_modal.style.diplay = "none";
          }
        }
      </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>