{% include 'common/seller_header.html' %}
{% load static %}
{% load crispy_forms_tags %}
<title>{{ seller.fname }} Dashboard</title>
<nav class="navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand" href="#">DinoBiz</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <div class="dropdown">
          <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'sProfile' %}">Profile</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'seller' %}">Dashboard</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'allorders' %}">All Orders</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'viewProducts' %}">Products</a>
      </li>
    </ul>
  </div>
  
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container float-left">
      <div class="media">
        <img class="rounded-circle account-img p-3" src="{{ seller.image.url }}" alt="" width="200" height="200">
        <div class="media-body">
          <h1 class="display-4">Hello {{ seller.fname }}!</h1>
          <!-- <p class="lead">You have supported <b>{{ orders_count }}</b> small scale startups so far, keep it going!</p> -->
        </div>
      </div>
    </div>
  </div>
  <br>  <br>  <br>  <br>  <br>
  {% if messages %}
  <div class="row">
    <div class="col-sm-4">
          {% for message in messages %}
          <div class="alert alert-success" role="alert">
            <p{% if message.tags %} class="{{ message.tags }} text-center"{% endif %}>{{ message }}</p>
          </div>
          {% endfor %}
    </div>
  </div>
  {% endif %}
<div class="update">
    <div class="row-ml-5">
        <div class="col-md-4">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                  <legend class="border-bottom float-left">Profile Information</legend>
                </fieldset>
                {{ s_form|crispy }}
                <div class="form-group">
                  <button type="submit" class="btn btn-dark btn-sm btn-block">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>





{% include 'common/seller_footer.html' %}