{% include 'common/seller_header.html' %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand" href="#">DinoBiz</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <div class="dropdown">
          <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'sProfile' %}">Profile</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
        </div>
      </li>
      
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'seller' %}">Dashboard</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'allorders' %}">All Orders</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'viewProducts' %}">Products</a>
      </li>
    </ul>
  </div>
  
</nav>
<div class="row col-10 mx-auto" style="display:flex;">
    <h1 style="flex: 2;" class="display-4  ">Your Products</h1>
  <a href="{% url 'productsAdd' %}"><button class="btn btn-dark btn-lg mt-5 float-right">Add new Product</button></a>
</div>
<div class="row">
  {% for p in products %}
  <div class="row shadow col-10 p-3 mx-auto">
    <div class="card col-12">
      <div class="card-body ">
        <img class="card-img-left shadow" src="{{ p.image.url }}" alt="" height="200px" width="200px">
        <div class="content col-6 float-right">
          <h5 class="card-title">{{ p.name }}</h5>
          <p class="card-text">{{ p.description }}</p>
          <p class="lead" style="display:inline;">₹ {{ p.price}}</p>
          <a href="{% url 'productsUpdate' p.id %}"><button class="btn btn-dark float-right ">Update Details</button></a>
          <a href="{% url 'deleteprod' p.id%}"><button class="btn btn-danger float-right mr-3">Delete Product</button></a>
        </div>
        
      </div>
    </div>
  </div>

{% endfor %}

</div>